# ==================================================

# DEFAULT

# ==================================================

* @owner @DinhQuangKhanh @ngoduonghoangchau

# ==================================================

# BACKEND

# ==================================================

/backend/ @ngoduonghoangchau

# ==================================================

# FRONTEND

# ==================================================

/frontend/ @ngoduonghoangchau

# ==================================================

# DOCUMENTATION

# ==================================================

/docs/ @ngoduonghoangchau

# ==================================================

# GITHUB CONFIG

# ==================================================

.github/ @DinhQuangKhanh @ngoduonghoangchau
**/CODEOWNERS @DinhQuangKhanh @ngoduonghoangchau
