# ==================================================

# DEFAULT

# ==================================================

\* @owner @DinhQuangKhanh

# ==================================================

# BACKEND

# ==================================================

/backend/ @ngoduonghoangchau

# ==================================================

# FRONTEND

# ==================================================

/frontend/ @ngoduonghoangchau

# ==================================================

# DOCUMENTATION

# ==================================================

/docs/ @ngoduonghoangchau

# ==================================================

# GITHUB CONFIG

# ==================================================

.github/ @owner
\*\*/CODEOWNERS @owner
